.banner { 
    width: auto;
    height: 6rem; 
    // background-color: #002663;
    display: flex;
    justify-content: start;
    align-items: end;
    border-bottom: solid; 
    border-width: 1px; 
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 3rem;
    border-color: rgb(0,0,0, 0.1);
      border-color: #001994;
      transition: 0.35s;
  }


  
  .banner .logo { 
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
      color: #001994;
      border-color: #001994;
  }
  
  
