.editor-container { 
  z-index: 10;
  box-shadow: 5px 0 0 0 rgba(0,0,0, 0.1);
}

// note put this for the rest of the different SCSS files lol 
.homepage-editor-content { 
  margin-left: 3rem;
  margin-right: 3rem;
}
