.body {  
  display: flex; 
}

.editor-container { 
  margin-left: calc(200px + 1rem);
  z-index: 10;
  box-shadow: 5px 0 0 0 rgba(0,0,0, 0.1);
}

.contact-body {  
  display: grid; 
  grid-template-columns: 4fr 1fr; 
  padding-left: 5%;
  padding-right: 5%;
}
